<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        span,p{
            display: inline-block;
        }

    </style>
</head>
<body>
<span class="red">1</span>
<span class="red">2</span>
<span class="red">2</span>
<span class="red">2</span>
<span class="red">2</span>
<div>
    <p>深大路口</p>
    height/13-1*13
    <p style="width: 20%">类似的会计法律是扩大解放了咯圣诞节分厘卡撒娇的分厘卡三季稻立刻反击啊是了的看法加拉塞克觉得分厘卡撒酒疯的拉萨扩大解放</p>
</div>
</body>
</html>
<script src="../../../js/jquery-2.2.0.min.js"></script>
<script>
    console.log(($('.red')[0]).text())
</script>